<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.adamgressen"
    android:versionCode="8"
    android:versionName="1.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:theme="@style/AppTheme" >
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name=".Main"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tricky"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".sudoku.Sudoku"
            android:label="Sudoku" >
        </activity>
        <activity
            android:name=".sudoku.SudokuAbout"
            android:label="@string/sudoku_about_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".sudoku.SudokuPrefs"
            android:label="@string/settings_title" >
        </activity>
        <activity
            android:name=".sudoku.SudokuGame"
            android:label="@string/game_title" >
        </activity>
        <activity
            android:name=".boggle.Boggle"
            android:label="Boggle"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".boggle.BoggleAbout"
            android:label="@string/about_title"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".boggle.BogglePrefs"
            android:label="@string/settings_title"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".boggle.BoggleGame"
            android:label="@string/game_title"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".persistentboggle.PersistentBoggle"
            android:label="Persistent Boggle"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".persistentboggle.PersistentBoggleAbout"
            android:label="@string/persistent_about_title"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".persistentboggle.PersistentBogglePrefs"
            android:label="@string/persistent_settings_title"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".persistentboggle.PersistentBoggleGame"
            android:label="@string/persistent_title"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".alienevasion.Main"
            android:icon="@drawable/alien_evasion_logo"
            android:label="@string/alien_evasion_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alienevasion.Evade"
            android:label="@string/evade_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".alienevasion.Evasions"
            android:label="@string/evasions_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".alienevasion.Settings"
            android:label="@string/alien_evasion_settings_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".alienevasion.Achievements"
            android:label="@string/achievements_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".alienevasion.HowTo"
            android:label="@string/howto_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".alienevasion.SavedEvasions"
            android:label="@string/savedevasions_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <receiver
            android:name=".persistentboggle.AlarmReceiver"
            android:process=":remote" >
        </receiver>

        <service android:name=".persistentboggle.BoggleService" >
        </service>

        <receiver android:name="persistentboggle.BoggleBootService" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>